package ${gCtx.groupId}.${gCtx.packageName}.validator;

import com.ai.tx.core.validator.AbstractConsumerValidator;
import com.ai.tx.core.validator.ValidationMetaData;

import java.util.ArrayList;
import java.util.List;


public class CommonConsumerValidator<T> extends AbstractConsumerValidator<T> {

    @Override
    protected List<ValidationMetaData> commonValidation(List<ValidationMetaData> validations) {
        // Add your common validations here if any
        return new ArrayList();
    }
}
